@use '../base/variables';

.sidebar {
  &__categories {
    padding: 3rem 2rem;
    border-bottom: 0.1rem solid variables.$dark-blue;

    &__title {
      color: variables.$very-dark-blue;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 920px) {
  .sidebar {
    width: 30%;
    
    &__categories {
        border-bottom: none;
    }
  }
}
