@use "../base/variables";

.userbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6%;
  border-bottom: 0.1rem solid variables.$light-gray;
  position: relative;

  a:visited,
  a:link {
    color: variables.$very-dark-blue;
    text-decoration: none;
  }

  &__left {
    &__logo {
      font-size: 3rem;
      color: variables.$very-dark-blue;
    }

    &__search {
      display: none;
    }
  }

  & img {
    display: block;
    max-width: 100%;
    width: 3.8rem;
    border-radius: 10rem;
    border: 0.1rem solid variables.$light-gray;
  }

  &__right {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 3rem;
    }

    &__search i,
    &__write i {
      font-size: 2.2rem;
      cursor: pointer;
    }

    &__write {
      cursor: pointer;
      & span {
        margin-left: 0.5rem;
      }
      color: variables.$light-brown;
    }

    &__user {
      display: flex;
    }
  }
}

@media (min-width: 550px) {
  .userbar {
    &__left {
      display: flex;
      align-items: center;
      &__search {
        display: block;
      }

      &__search {
        display: flex;
        margin-left: 2rem;

        & i {
          background-color: variables.$light-gray;
          border-radius: 10rem 0 0 10rem;
          padding: 1.3rem;
          color: darken(variables.$light-gray, 20%);
        }
      }

      &__input {
        border: none;
        border-radius: 0 10rem 10rem 0;
        background-color: variables.$light-gray;
        font-size: 1.4rem;
        outline: none;
      }
    }

    &__right {
      &__search {
        display: none;
      }
    }
  }
}
