@use "../base/variables";

.settings {
  padding: 2rem 6%;
  &__top {
    margin-bottom: 2rem;
    &__title {
      color: variables.$very-dark-blue;
    }

    &__delete {
      color: variables.$light-brown;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__form {
    &__preview {
      display: inline-block;
      max-width: 10rem;
      border-radius: 2rem;
    }

    &__group:first-child {
      display: flex;
      align-items: center;
    }

    &__group:not(:last-child) {
      margin-bottom: 2rem;
    }

    &__upload {
      margin-left: 2rem;
      font-size: 2rem;
      color: variables.$dark-blue;
      cursor: pointer;
    }

    &__label {
      display: block;
      margin-bottom: 1rem;
      color: variables.$very-dark-blue;
    }

    &__input {
      border: none;
      border-bottom: 0.1rem solid variables.$light-gray;
      width: 100%;

      &:focus {
        outline: none;
        border-bottom: 0.1rem solid variables.$dark-blue;
      }
    }
  }
}

@media (min-width: 920px) {
  .settingsPage {
    display: flex;
  }

  .settings {
    flex: 1.5;
    padding: 2rem;
  }
}
