@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.sidebar__categories__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.category a {
  font-size: 1.3rem;
}

.post__left__username {
  font-size: 1.2rem;
  font-weight: 500;
}

.post__left__title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.post__left__date {
  font-size: 1.3rem;
}

.post__left__category {
  font-size: 1.2rem
}

.post__left__description {
  font-size: 1.4rem;
}

@media (min-width: 800px) {
  .post__left__title {
    font-size: 2.2rem;
  }
}